<div class="container new-form">
<% if @dish.errors.any? %>
  <div id="error_explanation">
    <p>There were some errors:</p>
    <ul>
      <% @dish.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <h1>New Dish</h1>
<%= render 'form' %>
</div>
