<div class="container new-form">
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <p>There were some errors:</p>
      <ul>
        <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <h1> New Restaurant </h1>
  <%= render 'form' %>
</div>
