/*
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

body {
  background-color: #ec624c;
}

h1, h2, h3, h4, h5 {
  font-family: 'Baloo Bhai', 'M PLUS Rounded 1c', sans-serif;
}

 a {
   color: #375392;
 }

footer {
  margin-top: 10%;
  text-align: center;
  margin-bottom: 5%;
}

//navbar styling
.navbar-custom {
  background-color: #F3C43E;
  font-family: 'Baloo Bhai', 'M PLUS Rounded 1c', sans-serif;
  border-bottom: 3px solid black;
}

.navbar-nav {
  position: absolute;
  right: 50px;
}

.dropdown-menu {
  right: 0;
  left: auto;
  background-color: #fdb12a;
  border: 2px solid black;
}


.dropdown-item:hover{
  background-color: #d0da69;
  color: black;
}


//welcome page
.welcome-section {
  width: 70%;
  margin: 5% auto;
  border-radius: 25px;
  border: 2px solid black;
  padding: 30px;
  background-color: #e6dfb0;
}

.carousel-section {
  width: 70%;
}
.welcome-message-text {
  text-align: right;
}


.item {
    height: 450px;
    width: auto !important;
    margin: 0 auto;
}

.carousel-background {
  background-color: black;
}

.carousel-caption {
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.85);
}

// front page map

.map-section {
  margin-top: 5%;
  width: 70%;
}
.map-shell {
  width: 80%;
  height: 300px;
}

#featured-restaurants-map-container {
  width: 100%;
  height: 100%;
}
//icon styling

.icon-container {
  display: inline-block;
  padding: 10px;
  text-align: center;
}

.icon-container a {
  color: black;
}


.my-text {
  display: block;
  font-family: 'Baloo Bhai', sans-serif;
}


#map-container {
  position: relative;
  height: 250px;
  width: 100%;
  border: 5px solid black;
}

//restaurant and dishes index page navigation
.dish-restaurant-index-nav {
  margin-top: 3%;
  overflow: hidden;
  flex-flow: row-reverse;
  margin-right: 3%;
}

.index-dishes-restaurant-titles {
  margin-bottom: 3%;
}
//restaurant and dishes show page rating and save navigation

.dish-restaurant-nav {
  margin-top: 3%;
  overflow: hidden;
  flex-flow: row-reverse;
  margin-right: 3%;
}

.title {
  margin-bottom: 3%;
  margin-top: 3%;
}

.rating-row {
  margin-left: 0px;
}

.rating-send-button {
  height: 50%;
  background: transparent;
  border: transparent;
}
