// Place all the styles related to the dishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//show page
.image {
  border: 5px solid;
  width: 90%;
}

.col-sm {
  padding: 5%;
}

.restaurants-list-header {
  margin-top: 3%;
}

// index page
.horizontal-scroll {
  overflow-x: auto;
}

.card {
  min-height: 325px;
  background-color: #d0da69;
  border: 2px solid black;
}


.card-img {
  height: 70%;
  border: 2px solid black;
}

.dish-link {
  position: absolute;
  padding-top: 12%;
  padding-left: 5%;
}

.col-name {
  padding: 55px;
}

.container-fluid {
  padding: 50px 40% 0 40%;
}

#dish_description {
  width: 100%;
  height: 100%;
}
// id="dish_description" cols="50" rows="10" style="margin-top: 0px; margin-bottom: 0px; height: 254px;">Kung Pao chicken (Chinese: 宫保鸡丁), also transcribed as Gong Bao or Kung Po, is a spicy, stir-fried Chinese dish made with chicken, peanuts, vegetables, and chili peppers. The classic dish in Sichuan cuisine originated in the Sichuan Province of south-western China and includes Sichuan peppercorns. Although the dish is found throughout China, there are regional variations that are typically less spicy than the Sichuan serving. Kung Pao chicken is also a staple of westernized Chinese cuisine.</textarea>
