// Place all the styles related to the dishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image {
  border: 5px solid;
  width: 90%;
}

.col-sm {
  padding: 5%;
}


.title {
  margin-bottom: 3%;
}


.dish-nav {
  margin-top: 3%;
  overflow: hidden;
  flex-flow: row-reverse;
  margin-right: 3%;
}


.rating-row {
  margin-left: 0px;
}
