// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-form {
  width: 50%;
  margin-top: 10%;
}

#nameHelp {
  color: black;
}

.btn-primary {
  background-color: red;
  border-color: black;
}

.form-control {
  border: 1px solid black;
}

.user-info {
  margin-top: 5%;
}
